SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHOA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KHOA](
	[MaKhoa] [nvarchar](15) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[THOI_GIAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[THOI_GIAN](
	[ID] [int] NOT NULL,
	[Thu] [nvarchar](50) NULL,
	[Ca] [int] NULL,
 CONSTRAINT [PK_THOI_GIAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHONG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [int] NOT NULL,
	[TenPhong] [nvarchar](10) NULL,
	[SucChua] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHONG_THI] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MON_THI]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MON_THI](
	[ID] [int] NOT NULL,
	[MaLopHocPhan] [nvarchar](6) NOT NULL,
	[MaMonHoc] [nchar](7) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_MON_THI_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MON_HOC]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MON_HOC](
	[MaMonHoc] [nchar](7) NOT NULL,
	[TenMonHoc] [nvarchar](50) NULL,
	[SoTinChi] [int] NULL,
	[ThucHanh] [bit] NULL,
	[LyThuyet] [bit] NULL,
	[DoAn] [bit] NULL,
	[ThucTap] [bit] NULL,
	[MaKhoa] [nvarchar](15) NULL,
 CONSTRAINT [PK_MON_HOC] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOP_HOC_PHAN]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOP_HOC_PHAN](
	[MaLopHocPhan] [nvarchar](6) NOT NULL,
	[Khoa] [nchar](2) NULL,
	[Nhom] [nvarchar](4) NULL,
	[MaKhoa] [nvarchar](15) NULL,
	[ThoiGianBD] [datetime] NULL,
	[ThoiGianKT] [datetime] NULL,
 CONSTRAINT [PK_LOP_HOC_PHAN] PRIMARY KEY CLUSTERED 
(
	[MaLopHocPhan] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LICH_THI]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LICH_THI](
	[NgayThi] [datetime] NOT NULL,
	[ID_MonThi] [int] NOT NULL,
	[ID_PhongTrong] [int] NOT NULL,
	[ThoiGianThi] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_LICH_THI] PRIMARY KEY CLUSTERED 
(
	[ID_MonThi] ASC,
	[ID_PhongTrong] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHONG_TRONG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PHONG_TRONG](
	[ID] [int] NOT NULL,
	[MaPhong] [int] NULL,
	[ID_THOIGIAN] [int] NULL,
 CONSTRAINT [PK_PHONG_TRONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MON_THI_LOP_HOC_PHAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[MON_THI]'))
ALTER TABLE [dbo].[MON_THI]  WITH CHECK ADD  CONSTRAINT [FK_MON_THI_LOP_HOC_PHAN] FOREIGN KEY([MaLopHocPhan])
REFERENCES [dbo].[LOP_HOC_PHAN] ([MaLopHocPhan])
GO
ALTER TABLE [dbo].[MON_THI] CHECK CONSTRAINT [FK_MON_THI_LOP_HOC_PHAN]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_MON_HOC_KHOA]') AND parent_object_id = OBJECT_ID(N'[dbo].[MON_HOC]'))
ALTER TABLE [dbo].[MON_HOC]  WITH CHECK ADD  CONSTRAINT [FK_MON_HOC_KHOA] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[MON_HOC] CHECK CONSTRAINT [FK_MON_HOC_KHOA]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LOP_HOC_PHAN_KHOA]') AND parent_object_id = OBJECT_ID(N'[dbo].[LOP_HOC_PHAN]'))
ALTER TABLE [dbo].[LOP_HOC_PHAN]  WITH CHECK ADD  CONSTRAINT [FK_LOP_HOC_PHAN_KHOA] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[LOP_HOC_PHAN] CHECK CONSTRAINT [FK_LOP_HOC_PHAN_KHOA]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LICH_THI_MON_THI]') AND parent_object_id = OBJECT_ID(N'[dbo].[LICH_THI]'))
ALTER TABLE [dbo].[LICH_THI]  WITH CHECK ADD  CONSTRAINT [FK_LICH_THI_MON_THI] FOREIGN KEY([ID_MonThi])
REFERENCES [dbo].[MON_THI] ([ID])
GO
ALTER TABLE [dbo].[LICH_THI] CHECK CONSTRAINT [FK_LICH_THI_MON_THI]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LICH_THI_PHONG_TRONG]') AND parent_object_id = OBJECT_ID(N'[dbo].[LICH_THI]'))
ALTER TABLE [dbo].[LICH_THI]  WITH CHECK ADD  CONSTRAINT [FK_LICH_THI_PHONG_TRONG] FOREIGN KEY([ID_PhongTrong])
REFERENCES [dbo].[PHONG_TRONG] ([ID])
GO
ALTER TABLE [dbo].[LICH_THI] CHECK CONSTRAINT [FK_LICH_THI_PHONG_TRONG]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHONG_TRONG_PHONG]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHONG_TRONG]'))
ALTER TABLE [dbo].[PHONG_TRONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_TRONG_PHONG] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[PHONG_TRONG] CHECK CONSTRAINT [FK_PHONG_TRONG_PHONG]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PHONG_TRONG_THOI_GIAN]') AND parent_object_id = OBJECT_ID(N'[dbo].[PHONG_TRONG]'))
ALTER TABLE [dbo].[PHONG_TRONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_TRONG_THOI_GIAN] FOREIGN KEY([ID_THOIGIAN])
REFERENCES [dbo].[THOI_GIAN] ([ID])
GO
ALTER TABLE [dbo].[PHONG_TRONG] CHECK CONSTRAINT [FK_PHONG_TRONG_THOI_GIAN]
